.best-sidebar-main{
 
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 9rem;

    -webkit-box-shadow: inset 0px 0px 29px -1px rgba(235,235,235,1);
    -moz-box-shadow: inset 0px 0px 29px -1px rgba(235,235,235,1);
    box-shadow: inset 0px 0px 29px -1px rgba(235,235,235,1);

    align-content: center;
    
}

.best-sidebar-main img{
    margin-bottom: 1rem;
    width: 40%;
    -webkit-box-shadow: 0px 0px 29px -5px rgba(15,0,128,1);
-moz-box-shadow: 0px 0px 29px -5px rgba(15,0,128,1);
box-shadow: 0px 0px 29px -5px rgba(15,0,128,1);
}

.best-sidebar-main div{

    color:rgb(0, 0, 80);
    text-align: center;
    margin-bottom: 0.5rem;
     

}

div[class^="best-sidebar-item"]{
     
    border-bottom: rgb(0, 36, 155) solid 0.25rem;
    border-radius: 0.5rem;

}



.best-sidebar-title{
    font-size: 1.1rem;
    font-weight: 600;
    padding:1rem;
     
}

.best-sidebar-price{

    color: white !important;
    background-color: rgb(0, 167, 0);
    border-radius: 0.5rem;
    padding:0.8rem;
    margin: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 29px -7px rgba(0,186,81,1);
    -moz-box-shadow: 0px 0px 29px -7px rgba(0,186,81,1);
    box-shadow: 0px 0px 29px -7px rgba(0,186,81,1);

    text-align: center;
    font-size:  1.3rem;
    
}
.best-sidebar-price{
    
    font-size: 1.8rem;
}

.best-sidebar-buy-button{

    color: white !important;
    background-color: rgb(9, 108, 255);
    border-radius: 0.5rem;
    padding:1rem;
    
    margin: 1rem;
    margin-bottom: 1.75rem;
    border: none;
    min-width: 10rem;
    font-weight: 600;
    -webkit-box-shadow: inset 0px 0px 29px -15px rgba(102,102,102,1);
    -moz-box-shadow: inset 0px 0px 29px -15px rgba(102,102,102,1);
    box-shadow: inset 0px 0px 29px -15px rgba(102,102,102,1);

}

.best-sidebar-buy-button:hover{

    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgb(0, 59, 148);
     

}

/* animatoins */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {

  -webkit-animation-name: pulse 2s infinite;
  animation: pulse 2s infinite;
 
}