footer{
    width: 100%;
    display: block;
  
   
   width: 100%;
   height: auto;
   grid-column: 1/13;
   background-color: rgb(255, 255, 255);
   border-top: solid rgb(160, 160, 160) 1px;


}

.innerFooter{
    width: 95;
    margin: auto;
    padding: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    font-weight: 600;
}

.footerItems{
    width: 30%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

h1{
    padding: 0.5rem 0;
    font-size: 1.1rem;
    color: rgb(41, 44, 175);
    text-transform: uppercase;
    text-align: center;
}

.footerItems p{
    color: grey;
    font-size: 0.8rem;
    line-height: auto;
    text-align: justify;
    width: auto;
}

h2{
    color: rgb(59, 59, 59);
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
     
}

.border{
    height: 0.1rem;
    width: auto;
    background-color: rgb(41, 44, 175);
    
}

footer ul{
    list-style: none;
    color: rgb(41, 44, 175);
    font-size: 1rem;
    margin-left:-2rem;
   
}

footer ul a{
    text-decoration: none;
    outline: none;
    color: rgb(41, 44, 175);;
     
    display: inline-block;
    margin: 0.5rem 0.5rem;
    transition: all 0.7s;
}

footer ul a:hover{
    color: rgb(255, 136, 0);
    cursor: pointer;
    transform: translateY(10px);
}

.social{
    width: 100%;
    color: white;
    text-align: left;
    margin-top: -1.5rem;
}
.social a{
    text-decoration: none;
}

.social i{
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.3rem;
    padding: 0.5rem;
    color: rgb(41, 44, 175);
    border-radius: 50%;
    border: 1px solid rgb(230, 230, 230);
    overflow: visible;
    transition: 0.7s;
}

.social i:hover{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 17, 255);
}

.footer-bottom{
    padding: 0.7rem 0rem 0.7rem 0rem;
    background: rgb(22, 24, 170);
    color: white;
    font-size: 0.75rem;
    text-align: center;
    
}

@media screen and (max-width: 1000px){
    
    .innerFooter{
        flex-direction: column;
    }
    .social {
    text-align: center;
}
    .footerItems{
        width: 100%;
    }
    footer ul{
        list-style: none;
        color: rgb(41, 44, 175);
        font-size: 0.8rem;
        margin-left:-2rem;
        text-align: center;
    }

    .footerItems p{
    
    text-align: center;
    
    }

    .footerItems{
   
        padding: 0rem;
  
    }
    h1{
        padding: 0rem;
       
    }
    .border{
        height: 0.1rem;
        width: 90%;
        margin: auto;
        background-color: rgb(41, 44, 175);
    
    }   
}
