#slider{
	position: relative;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    height: 20rem;
    padding: 0.5rem 0.5rem;
    background: #1737581a;
}
.sliderItem{
	position: relative;
	border: 2px solid #44454782;
}
.sliderItem img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    animation-name: sliderAnimation;
  	animation-duration: 1.7s;
    opacity: 0.75
}
.sliderItem img:hover{
    opacity: 0.95;
}

@keyframes sliderAnimation{
  0%   {
  	opacity: 0;
  }
  100% {opacity: 0.75;}
}

.sliderProductTitle{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 4px 7px 15px rgba(1, 27, 102, 0.9);
    font-size: 2rem;
    color: white;
    text-align: center;
    background: #12121212;
    border-radius: 5%;
}
.sliderReadMoreBtn{
	position: absolute;
	left: 50%;
	bottom: 1rem;
	transform: translate(-50%, 0rem);
	box-shadow: 2px 2px 7px 4px #fdfeff;
	border: 0;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 0.6rem;
	cursor: pointer;
	color: #ffffff;
	font-size: 1rem;
	padding: 0.5rem 1rem;
}
.sliderReadMoreBtn:hover{
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.sliderNavigationBtn{
	background: #104dd278;
    font-size: 3rem;
    position: absolute;
    z-index: 1;
    align-self: center;
    color: #ffffff;
    cursor: pointer;
}
.sliderPreviousBtn{
	left: 0.5rem;
}
.sliderNextBtn{
	right: 0.5rem;
}